= form_for @article, :html => { :class => "form-horizontal article" } do |f|
  = render 'shared/errors', :resource => @article
  .form-group
    = f.label :title, :class => 'control-label col-lg-2'
    .col-lg-4
      = f.text_field :title, :class => 'form-control'
  .form-group
    = f.label :body, :class => 'control-label col-lg-2'
    .col-lg-4
      = f.text_area :body, :rows => 5, :class => 'form-control'
  .form-group
    = f.label :category_id, :class => 'control-label col-lg-2'
    .col-lg-4
      = f.select :category_id, Category.all.collect{|c| [c.name, c.id]}, {}, :class => 'form-control'
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :class => 'btn btn-primary'
      = link_to 'Cancel', articles_path, :class => 'btn btn-default'