.page-header
  %h1 Articles
%table.table.table-striped
  %thead
    %tr
      %th Id
      %th Title
      %th Category
      %th Created at
      %th Actions
  %tbody
    - @articles.each do |article|
      %tr
        %td= link_to article.id, article
        %td= article.title
        %td= article.category
        %td= article.created_at
        %td
          = link_to 'Edit', edit_article_path(article), :class => 'btn btn-default btn-xs'
          = link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-xs btn-danger'
= link_to 'New', new_article_path, :class => 'btn btn-primary'