.page-header
  %h1 Article
%dl.dl-horizontal
  %dt
    %strong Title:
  %dd= @article.title
  %dt
    %strong Body:
  %dd= @article.body
  %dt
    %strong Category:
  %dd= @article.category
= link_to 'Back', articles_path, :class => 'btn btn-default'
= link_to 'Edit', edit_article_path(@article), :class => 'btn btn-default'
= link_to 'Destroy', @article, :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'