- if resource.errors.any?
  .col-lg-offset-1.col-lg-10
    #error_expl.panel.panel-danger
      .panel-heading
        %h3.panel-title
          = pluralize(resource.errors.count, "error")
          prohibited this #{resource.class.name.downcase} from being saved:
      .panel-body
        %ul
          - resource.errors.full_messages.each do |msg|
            %li= msg