= form_for @category, :html => { :class => "form-horizontal category" } do |f|
  = render 'shared/errors', :resource => @category
  .form-group
    = f.label :name, :class => 'control-label col-lg-2'
    .col-lg-4
      = f.text_field :name, :class => 'form-control'
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :class => 'btn btn-primary'
      = link_to 'Cancel', categories_path, :class => 'btn btn-default'