.page-header
  %h1 Categories
%table.table.table-striped
  %thead
    %tr
      %th Id
      %th Name
      %th Created at
      %th Actions
  %tbody
    - @categories.each do |category|
      %tr
        %td= link_to category.id, category
        %td= category.name
        %td= category.created_at
        %td
          = link_to 'edit', edit_category_path(category), :class => 'btn btn-default btn-xs'
          = link_to 'destroy', category, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-xs btn-danger'
= link_to 'New', new_category_path, :class => 'btn btn-primary'