.page-header
  %h1 Category
%dl.dl-horizontal
  %dt
    %strong Name:
  %dd= @category.name
= link_to 'Back', categories_path, :class => 'btn btn-default'
= link_to 'Edit', edit_category_path(@category), :class => 'btn btn-default'
= link_to 'Destroy', @category, :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'