!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
          %title= content_for?(:title) ? yield(:title) : "Article Manager"
          = csrf_meta_tags
          = stylesheet_link_tag "application", :media => "all"
          = javascript_include_tag "application"
          
  %body
    .navbar.navbar-default.navbar-static-top
      .container
        = link_to 'Article Manager', root_path, :class=> 'navbar-brand'
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
            %li= link_to "Categories", categories_path
            %li= link_to "Articles", articles_path
    .container
      .row
        .col-lg-12
          = bootstrap_flash
          = yield